<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <header>
            <div id="logo">
                
                <img src = "../static/XDORAMMING_free-file.png" alt = "xDoramming">
            </div>
            </header>
            <section class="section_1">
                <div id="heading"><h1>DIGIT CLASSIFIER</h1></div>
                <div id = "main-part">
                    <form action="/" method="post">
                        <input name = "url" placeholder="Enter URL ... " value = "">
                        <button type="submit">GO</button>
                    </form>
                </div>
            </section>
    </div>
    
</body>
</html>